#dropmenu {
    position: relative;
    list-style-type: none;
    width: 100%;
    height: 40px;
    margin: 0px;
    padding: 0;
    background: #006e54; /* #8a9b0f */
    padding: 0;
}

#dropmenu li {
    width: 25%;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
}

#dropmenu li a {
    display: block;
    margin: 0;
    padding: 15px 0 11px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
}

#dropmenu li ul {
    list-style: none;
    position: static;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    border-radius: 0 0 3px 3px;
}

#dropmenu li ul li {
    overflow: hidden;
    width: 100%;
    height: 0;
    color: #fff;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    -o-transition: .2s;
    -ms-transition: .2s;
    transition: .2s;
}

#dropmenu li ul li a {
    padding: 13px 15px;
    background: #6e7c0c;
    text-align: left;
    font-size: 12px;
    font-weight: normal;
}

#dropmenu li:hover>a {
    background: #6e7c0c;
    color: #eff7b1;
}

#dropmenu>li:hover>a {
    border-radius: 3px 3px 0 0;
}

#dropmenu li:hover ul li {
    overflow: visible;
    height: 38px;
    border-top: 1px solid #7c8c0e;
    border-bottom: 1px solid #616d0b;
}

#dropmenu li:hover ul li:first-child {
    border-top: 0;
}

#dropmenu li:hover ul li:last-child {
    border-bottom: 0;
}

#dropmenu li:hover ul li:last-child a {
    border-radius: 0 0 3px 3px;
}

body {
    margin: 0;
    padding: 50px 0 50px 0;
    height: 100%;
    width: 100%;
}

div#headerArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
    z-index: 100;
}

div#contentsArea {
    position: absolute;
    height: 100%;
    width: 95%;
    left: 50px;
}

body {
    background: #fffffc;
    font-size: 12px;
}

table {
    table-layout: fixed;
}

.mainData {
    width: 170px;
}

.mainDataHeaderCell {
    width: 90px;
}

.sealedCol>input {
    width: 70px;
}

img {
    max-height: 230px;
    max-width: 230px;
}